.BuildControl {
  align-items: center;
  background-color: var(--red);
  border: 1px solid var(--white);
  border-radius: 200px;
  box-shadow: 2px 2px 10px var(--black);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 0;
  margin: 10px 0;
  width: 230px;
}

.BuildControl .Button {
  background-color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 2em;
  height: 100%;
  outline: none;
  width: 60px;
}

.BuildControl .Less {
  border-radius: 100px 0 0 100px;
}

.BuildControl .More {
  border-radius: 0 100px 100px 0;
}
