.BuildControl {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.BuildControl .Buttons {
  display: flex;
}

.BuildControl .Buttons button {
  border: 1px solid #AA6871;
  cursor: pointer;
  display: block;
  font: inherit;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  width: 80px;
}
