.Modal {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 1px 1px 10px var(--black);
  box-sizing: border-box;
  left: 15%;
  padding: 16px;
  position: fixed;
  top: 30%;
  transition: all 0.3s ease-out;
  width: 70%;
  z-index: 500;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
