.Auth {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 0 20px -10px var(--black);
  box-sizing: border-box;
  margin: 120px auto;
  padding: 10px;
  text-align: center;
  width: 80%;
}

.Auth button  {
  width: 300px;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
