html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --red: #D52B1E;
  --light-red: #FF1200;
  --yellow: #FDC82F;
  --light-yellow: #FFBD00;
  --black: #27251F;
  --white: #FFFFFF;
  --highlight: rgba(255, 255, 255, 0.5);
  --green: #47B612;
  --light-green: #53D514;
}
