.BreadBottom {
  background: linear-gradient(#F08E4A, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
  height: 13%;
  margin: 0 auto;
  width: 80%;
}

.BreadTop {
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  height: 20%;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

.Seeds1 {
  background-color: white;
  border-radius: 40%;
  box-shadow: inset -2px -3px #c9c9c9;
  height: 15%;
  left: 30%;
  position: absolute;
  top: 50%;
  transform: rotate(-20deg);
  width: 10%;
}

.Seeds1:after {
  background-color: white;
  border-radius: 40%;
  box-shadow: inset -1px 2px #c9c9c9;
  content: "";
  height: 100%;
  left: -170%;
  position: absolute;
  top: -260%;
  transform: rotate(60deg);
  width: 100%;
}

.Seeds1:before {
  background-color: white;
  border-radius: 40%;
  box-shadow: inset -1px -3px #c9c9c9;
  content: "";
  height: 100%;
  left: 180%;
  position: absolute;
  top: -50%;
  transform: rotate(60deg);
  width: 100%;
}

.Seeds2 {
  background-color: white;
  border-radius: 40%;
  box-shadow: inset -3px 0 #c9c9c9;
  height: 15%;
  left: 64%;
  position: absolute;
  top: 50%;
  transform: rotate(10deg);
  width: 10%;
}

.Seeds2:before {
  background-color: white;
  border-radius: 40%;
  box-shadow: inset 1px 3px #c9c9c9;
  content: "";
  height: 100%;
  left: 150%;
  position: absolute;
  top: -130%;
  transform: rotate(90deg);
  width: 100%;
}

.Meat {
  background: linear-gradient(#7f3608, #702e05);
  border-radius: 15px;
  height: 8%;
  margin: 1% auto;
  width: 80%;
}

.Cheese {
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
  height: 4.5%;
  margin: 1% auto;
  width: 90%;
}

.Lettuce {
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
  height: 7%;
  margin: 1% auto;
  width: 85%;
}

.Bacon {
  background: linear-gradient(#bf3813, #c45e38);
  height: 3%;
  margin: 1% auto;
  width: 80%;
}

.Tomato {
  background: linear-gradient(#ff6347, #fd3b01);
  border-radius: 8px;
  height: 5%;
  margin: 1% auto;
  width: 75%;
}

.Onion {
  background: linear-gradient(#a92940, #d8699e);
  border-radius: 2px;
  height: 3%;
  margin: 1% auto;
  width: 65%;
}

.Mustard {
  background: linear-gradient(#fcc602, #f5bb06);
  height: 2%;
  margin: 0 auto;
  width: 80%;
}

.Ketchup {
  background: linear-gradient(#ec3017, #cc0000);
  height: 2%;
  margin: 0 auto;
  width: 80%;
}
